<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,384}</string>
                <key>spriteSourceSize</key>
                <string>{303,384}</string>
                <key>textureRect</key>
                <string>{{0,0},{303,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,384}</string>
                <key>spriteSourceSize</key>
                <string>{303,384}</string>
                <key>textureRect</key>
                <string>{{303,0},{303,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,384}</string>
                <key>spriteSourceSize</key>
                <string>{303,384}</string>
                <key>textureRect</key>
                <string>{{606,0},{303,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,384}</string>
                <key>spriteSourceSize</key>
                <string>{303,384}</string>
                <key>textureRect</key>
                <string>{{0,384},{303,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,384}</string>
                <key>spriteSourceSize</key>
                <string>{303,384}</string>
                <key>textureRect</key>
                <string>{{303,384},{303,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,384}</string>
                <key>spriteSourceSize</key>
                <string>{303,384}</string>
                <key>textureRect</key>
                <string>{{606,384},{303,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,384}</string>
                <key>spriteSourceSize</key>
                <string>{303,384}</string>
                <key>textureRect</key>
                <string>{{0,768},{303,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,384}</string>
                <key>spriteSourceSize</key>
                <string>{303,384}</string>
                <key>textureRect</key>
                <string>{{303,768},{303,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,384}</string>
                <key>spriteSourceSize</key>
                <string>{303,384}</string>
                <key>textureRect</key>
                <string>{{606,768},{303,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>heads.png</string>
            <key>size</key>
            <string>{909,1152}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21699a5ab1e6f160f6ec782d2e3f8139:7e6981fb9cfeedbf100060460ecf06a6:aa13331d0d5b5005e4a52c3228436c45$</string>
            <key>textureFileName</key>
            <string>heads.png</string>
        </dict>
    </dict>
</plist>
